/* Global */
$color-main:#2e86de;
$color-light: #fff;

$font-text: 'Open Sans',
sans-serif;
$font-header: 'Alegreya Sans',
sans-serif;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.row::before,
.row::after {
    clear: both;
    content: "";
    display: table;
}

body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 108px 0;
}

.section-title {
    position: relative;
    font-size: 36px;
    margin: 0 0 60px 0;
    font-family: $font-header;
}

.section-title::after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 50px;
    height: 10px;
    transform: translateX(-50%);
    background: $color-main;
}

/* Splash */
.splash {
    height: 100vh;
    position: relative;
    background-image: url('https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.splash i {
    font-size: 30px;
    background: $color-main;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: $color-light;
    border-radius: 50%;
}

.page-title {
    // color: $color-light;
    font-size: 68px;
    margin: 48px 0 0 0;
    position: relative;
    font-family: $font-header;
    //Gridiant text
    display: table;
    margin: 0 auto;
    background: repeating-radial-gradient(rgb(197, 127, 22), rgb(26, 150, 82) 10%, rgb(182, 38, 187) 15%, rgb(24, 236, 4) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-title::after {
    position: absolute;
    content: '';
    bottom: -24px;
    left: 50%;
    width: 100px;
    height: 10px;
    transform: translateX(-50%);
    background: $color-main;
}

.page-subtitle {
    color: $color-light;
    font-size: 18px;
    margin: 48px 0 0 0;
}

/* Intro */
.intro {
    background: $color-light;
}

.intro p {
    width: 70%;
    margin: 0 auto;
    padding: 48px 0;
    font-size: 30px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

/* About */
.about {
    background: #f0f0f0;
}

/* Skills */
[class^="skill-"] {
    position: relative;
}

.skill-image {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    //selector .skill-image img:hover does not work without the following property:
    z-index: 1;
}

.skill-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
}

.skill-right .skill-image {
    right: 0;
}

.skill-right .skill-description {
    padding: 36px 55% 36px 0;
    text-align: right;
}

.skill-left .skill-description {
    padding: 36px 0 36px 55%;
    text-align: left;
}

article h3 {
    text-transform: uppercase;
}

article p {
    font-style: italic;
}

.skill-image img:hover {
    transform: scale(1.1);
}

/* Gallery */
.project-first-row {
    float: left;
    width: 33.3333%;
    height: 300px;
}

.project-second-row {
    float: left;
    width: 33.3333%;
    height: 300px;
}

.portfolio.row {
    margin-top: -15px;
}

.portfolio img {
    // max-width: 100%;
    // min-height: 100%;
    // max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio div.box {
    position: relative;
}

.overlay {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .5s ease;
}

body>section.portfolio.row>div:nth-child(2)>div {
    background-image: url(https://media.giphy.com/media/W9lzJDwciz6bS/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

body>section.portfolio.row>div:nth-child(3)>div {
    background-image: url(https://media.giphy.com/media/smzfl3E7a4iHK/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

body>section.portfolio.row>div:nth-child(4)>div {
    background-image: url(https://media.giphy.com/media/ElbbhB6WU7vLq/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

body>section.portfolio.row>div:nth-child(5)>div {
    background-image: url(https://media.giphy.com/media/WsZOJfurNbbTG/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

body>section.portfolio.row>div:nth-child(6)>div {
    background-image: url(https://media.giphy.com/media/7NWhfa1lEHPqw/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

body>section.portfolio.row>div:nth-child(7)>div {
    background-image: url(https://media.giphy.com/media/IU3zXSyoe9fvG/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay h3 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-light;
}

.overlay button {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 8px;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #53f1dc, #5922f1);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: none;
}

.box:hover .overlay {
    opacity: 0.7;
}

.single-btn {
    padding: 15px;
    margin-top: 30px;
    font-weight: bold;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #53f1dc, #5922f1);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: none;
}

/* Contact*/
section.form {
    background: #171717;
    height: 78vh;
    position: relative;
}

form {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.form h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
    color: $color-light;
}

input,
textarea {
    width: 26vw;
    padding: 9px;
    margin: 6px;
    background-color: $color-light;
    color: #fff;
}

input:valid,
textarea:valid {
    background-color: rgba(211, 230, 211, 0.1);
    border: 1px solid #55ee70;
}

[type|=submit] {
    padding: 15px;
    margin-top: 30px;
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #53f1dc, #5922f1);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: none;

}

button.button:hover {

    color: black;
    box-shadow: 2px 1000px 1px rgb(255, 255, 255) inset;
}

/* Footer*/
footer {
    position: relative;
    padding: 2px;
}

footer .container {
    position: absolute;
    background-color: #242424;
    min-width: 100%;
    bottom: 0;
    color: $color-light;
    font-size: 12px;
}

/* RWD*/
@media screen and (max-width: 992px) and (orientation: landscape) {
    section.form {
        height: 155vh;
    }
}

/* Matrix header*/
@font-face {
    font-family: Katakana;
    src: url('https://s.cdpn.io/26175/MoonBeams-katakana_.TTF');
}

.matrix {
    margin: 0 auto;
    font-family: Katakana;
    max-width: 1460px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
    background-image: -webkit-gradient(linear, 0% 90%, 0% 100%, from(rgba(0, 255, 0, 0)), to(rgba(0, 255, 0, 0.1)));
    color: rgba(0, 255, 0, .7);
    text-shadow: rgba(255, 255, 255, .8) 0px 0px 4px;
    position: relative;
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fall {
    from {
        top: -1500px;
    }

    to {
        top: 100vh;
    }
}

.matrix div {
    position: absolute;
    top: 0;
    -webkit-transform-origin: 0%;
    -webkit-transform: rotate(90deg);
    -webkit-animation-name: fall, fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: ease-out;
}

.matrix span {
    color: rgb(0, 255, 0);
    text-shadow: rgb(255, 255, 255) 0px 0px 5px;
    -webkit-animation-delay: 8s;
}

.f1 {
    font-size: 1.2em;
}

.f2 {
    font-size: .9em;
}

.c1 {
    color: rgba(0, 255, 0, .5);
}

.d1 {
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: -1s;
}

.d2 {
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: -2s;
}

.d3 {
    -webkit-animation-duration: 7s;
    -webkit-animation-delay: -4s;
}

.d4 {
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: -3s;
}

.d5 {
    -webkit-animation-duration: 7s;
    -webkit-animation-delay: -5s;
}

.d6 {
    -webkit-animation-duration: 5s;
}

.de {
    -webkit-animation-delay: -3s;
}