/* Global */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row::before,
.row::after {
  clear: both;
  content: "";
  display: table;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 108px 0;
}

.section-title {
  position: relative;
  font-size: 36px;
  margin: 0 0 60px 0;
  font-family: "Alegreya Sans", sans-serif;
}

.section-title::after {
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #2e86de;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://images.pexels.com/photos/1089438/pexels-photo-1089438.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.splash i {
  font-size: 30px;
  background: #2e86de;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  border-radius: 50%;
}

.page-title {
  font-size: 68px;
  margin: 48px 0 0 0;
  position: relative;
  font-family: "Alegreya Sans", sans-serif;
  display: table;
  margin: 0 auto;
  background: repeating-radial-gradient(#c57f16, #1a9652 10%, #b626bb 15%, #18ec04 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-title::after {
  position: absolute;
  content: '';
  bottom: -24px;
  left: 50%;
  width: 100px;
  height: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #2e86de;
}

.page-subtitle {
  color: #fff;
  font-size: 18px;
  margin: 48px 0 0 0;
}

/* Intro */
.intro {
  background: #fff;
}

.intro p {
  width: 70%;
  margin: 0 auto;
  padding: 48px 0;
  font-size: 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* About */
.about {
  background: #f0f0f0;
}

/* Skills */
[class^="skill-"] {
  position: relative;
}

.skill-image {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.skill-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.skill-right .skill-image {
  right: 0;
}

.skill-right .skill-description {
  padding: 36px 55% 36px 0;
  text-align: right;
}

.skill-left .skill-description {
  padding: 36px 0 36px 55%;
  text-align: left;
}

article h3 {
  text-transform: uppercase;
}

article p {
  font-style: italic;
}

.skill-image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Gallery */
.project-first-row {
  float: left;
  width: 33.3333%;
  height: 300px;
}

.project-second-row {
  float: left;
  width: 33.3333%;
  height: 300px;
}

.portfolio.row {
  margin-top: -15px;
}

.portfolio img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio div.box {
  position: relative;
}

.overlay {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

body > section.portfolio.row > div:nth-child(2) > div {
  background-image: url(https://media.giphy.com/media/W9lzJDwciz6bS/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

body > section.portfolio.row > div:nth-child(3) > div {
  background-image: url(https://media.giphy.com/media/smzfl3E7a4iHK/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

body > section.portfolio.row > div:nth-child(4) > div {
  background-image: url(https://media.giphy.com/media/ElbbhB6WU7vLq/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

body > section.portfolio.row > div:nth-child(5) > div {
  background-image: url(https://media.giphy.com/media/WsZOJfurNbbTG/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

body > section.portfolio.row > div:nth-child(6) > div {
  background-image: url(https://media.giphy.com/media/7NWhfa1lEHPqw/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

body > section.portfolio.row > div:nth-child(7) > div {
  background-image: url(https://media.giphy.com/media/IU3zXSyoe9fvG/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay h3 {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.overlay button {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 15px 8px;
  -webkit-box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
          box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #53f1dc, #5922f1);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.box:hover .overlay {
  opacity: 0.7;
}

.single-btn {
  padding: 15px;
  margin-top: 30px;
  font-weight: bold;
  -webkit-box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
          box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #53f1dc, #5922f1);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Contact*/
section.form {
  background: #171717;
  height: 78vh;
  position: relative;
}

form {
  position: absolute;
  top: 28%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.form h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 40px;
  color: #fff;
}

input,
textarea {
  width: 26vw;
  padding: 9px;
  margin: 6px;
  background-color: #fff;
  color: #fff;
}

input:valid,
textarea:valid {
  background-color: rgba(211, 230, 211, 0.1);
  border: 1px solid #55ee70;
}

[type|=submit] {
  padding: 15px;
  margin-top: 30px;
  width: 100px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
          box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #53f1dc, #5922f1);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.button:hover {
  color: black;
  -webkit-box-shadow: 2px 1000px 1px white inset;
          box-shadow: 2px 1000px 1px white inset;
}

/* Footer*/
footer {
  position: relative;
  padding: 2px;
}

footer .container {
  position: absolute;
  background-color: #242424;
  min-width: 100%;
  bottom: 0;
  color: #fff;
  font-size: 12px;
}

/* RWD*/
@media screen and (max-width: 992px) and (orientation: landscape) {
  section.form {
    height: 155vh;
  }
}

/* Matrix header*/
@font-face {
  font-family: Katakana;
  src: url("https://s.cdpn.io/26175/MoonBeams-katakana_.TTF");
}

.matrix {
  margin: 0 auto;
  font-family: Katakana;
  max-width: 1460px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000;
  background-image: -webkit-gradient(linear, 0% 90%, 0% 100%, from(rgba(0, 255, 0, 0)), to(rgba(0, 255, 0, 0.1)));
  color: rgba(0, 255, 0, 0.7);
  text-shadow: rgba(255, 255, 255, 0.8) 0px 0px 4px;
  position: relative;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fall {
  from {
    top: -1500px;
  }
  to {
    top: 100vh;
  }
}

.matrix div {
  position: absolute;
  top: 0;
  -webkit-transform-origin: 0%;
  -webkit-transform: rotate(90deg);
  -webkit-animation-name: fall, fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
}

.matrix span {
  color: lime;
  text-shadow: white 0px 0px 5px;
  -webkit-animation-delay: 8s;
}

.f1 {
  font-size: 1.2em;
}

.f2 {
  font-size: .9em;
}

.c1 {
  color: rgba(0, 255, 0, 0.5);
}

.d1 {
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: -1s;
}

.d2 {
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: -2s;
}

.d3 {
  -webkit-animation-duration: 7s;
  -webkit-animation-delay: -4s;
}

.d4 {
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: -3s;
}

.d5 {
  -webkit-animation-duration: 7s;
  -webkit-animation-delay: -5s;
}

.d6 {
  -webkit-animation-duration: 5s;
}

.de {
  -webkit-animation-delay: -3s;
}
/*# sourceMappingURL=style.css.map */